@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --main-primary: #fff;
  --main-secundary: #f1eeee;
  --main-tertiary: #f5f5f5;
  --main-black: #000;
  --main-black-secundary: #242424;
  --main-black-tertiary: #444444;
  --primary-green: #42ac6c;
  --primary-degrade: linear-gradient(
    222deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(38, 37, 37, 1) 97%
  );
  --color-opacity: rgba(255, 255, 255, 0.1);
  --gray-opacity: rgba(165, 165, 165, 0.7);
  --gray-opacity-higth: rgba(165, 165, 165, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
button,
span {
  font-family: "Inter", sans-serif;
}

/* HERADER */
.info__header {
  display: flex;
  width: 100%;
  height: 8vh;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 12px;
  background-color: var(--main-black);
  color: var(--main-primary);
  border-bottom: 1px solid var(--color-opacity);
}
.info__header hr {
  height: 15px;
  border-color: var(--color-opacity);
}

.container__header {
  display: flex;
  height: 12vh;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  background: var(--main-black);
  border-bottom: 1px solid var(--color-opacity);
}

.content__search,
.content__logo,
.content__menu {
  display: flex;
  justify-content: center;
  width: 220px;
}

.content__search input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--color-opacity);
  padding: 8px 24px 8px 12px;
  font-size: 12px;
  color: var(--main-primary);
  background: transparent;
  background-image: url(assets/icons/procurar.png);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 12rem 8px;
}

.content__logo img {
  width: 48px;
}

.content__menu {
  justify-content: end;
  flex-wrap: wrap;
}

.content__menu img {
  width: 28px;
  cursor: pointer;
}

.content__menu a {
  padding: 8px;
  transition: 0.4s;
}

.content__menu a:hover {
  transform: scale(1.1);
}

.content__navbar {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  background: var(--main-black);
  border-bottom: 1px solid var(--color-opacity);
}

.content__hamburger {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content__element__hamburger {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content__element__hamburger li {
  list-style: none;
}

.content__element__hamburger a {
  text-decoration: none;
  color: var(--main-primary);
  padding: 13px;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.content__element__hamburger a:hover {
  border-bottom: 2px solid var(--main-secundary);
}

/* Botão menu hamburger */
.menu {
  position: relative;
  margin: 14px;
  cursor: pointer;
  display: none;
  z-index: 10;
}
.hamburguer {
  position: relative;
  display: block;
  background: #fff;
  width: 30px;
  height: 2px;
  top: 7px;
  transition: 0.5s ease-in-out;
}
.hamburguer:before,
.hamburguer:after {
  background: var(--main-primary);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.hamburguer:before {
  top: -10px;
}
.hamburguer:after {
  bottom: -10px;
}
.content__hamburger input[type="checkbox"] {
  display: none;
}

/* rotação dos elementos do span */
input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}
input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}
input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}
input:checked ~ .content__element__hamburger {
  left: 0;
}

/* Ocultação de elementos mobile */
.menu__favorite__mobile,
.content__logo__mobile,
.menu__login__mobile,
.menu__bag__mobile,
.info__header__mobile,
.search__mobile {
  display: none;
}

/* Slideshow container */

.hero {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
}
.hero__info h1 {
  font-size: 48px;
  text-transform: uppercase;
}
.hero__info hr {
  height: 60px;
  border-color: var(--main-black);
}
.hero__info p {
  text-transform: uppercase;
}
.hero__info span {
  font-weight: bold;
}
.logo__hero {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.hero__info button {
  width: 150px;
  height: 44px;
  text-transform: uppercase;
  margin-top: 24px;
  color: var(--main-primary);
  background: var(--primary-degrade);
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.hero__info button:hover {
  transform: scale(1.05);
}

.hero__content {
  width: 400%;
  height: auto;
  display: flex;
}

.hero__content input,
.img__mobile {
  display: none;
}

.hero__box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.hero__box img {
  width: 100%;
}

.nav__manual,
.nav__auto {
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav__manual .manual__btn,
.nav__auto div {
  border: 1px solid var(--gray-opacity);
  padding: 1px 100px;
  cursor: pointer;
  transition: 0.2s;
}

.nav__manual .manual__btn:not(:last-child),
.nav__auto div:not(:last-child) {
  margin-right: 10px;
}

.nav__manual .manual__btn:hover {
  background-color: var(--gray-opacity);
}

#radio1:checked ~ .nav__auto .auto__btn1,
#radio2:checked ~ .nav__auto .auto__btn2,
#radio3:checked ~ .nav__auto .auto__btn3 {
  background-color: var(--gray-opacity);
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}

/*Galeria de categoria*/

.scroll__galery__accessories {
  background-color: var(--main-black);
}
.scroll__galery__accessories,
#white,
.white {
  color: var(--main-primary);
}

.scroll__galery,
.scroll__category {
  background-color: var(--main-primary);
}
#slide__left__category:hover,
#slide__right__category:hover {
  opacity: 1;
}

#slide__left__category {
  opacity: 0.5;
  float: right;
  right: 20rem;
  bottom: 24px;
}
#slide__right__category {
  opacity: 0.5;
  float: right;
  right: 15rem;
  bottom: 24px;
}
.card__category {
  text-decoration: underline;
  font-size: 14px;
  color: var(--main-black-tertiary);
}
.content__button {
  position: absolute;
  right: 0;
  bottom: 11px;
  text-align: center;
  border: none;
  transition: opacity 0.35s ease;
  transition: 0.4s;
}
.content__button a {
  padding: 12px 14px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-primary);
  background: var(--primary-degrade);
  cursor: pointer;
}

/* Banner brand */

.banner__brand {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.banner__content {
  display: flex;
  width: 100%;
  padding: 0 3rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--main-tertiary);
}
.banner__image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner__image img {
  width: 100%;
}

.content__brand {
  display: flex;
  padding: 2rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  justify-content: center;
  opacity: 0.5;
}

.content__info {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px 24px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.content__info__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.content__info h3 {
  font-size: 30px;
  font-weight: 500;
}
#p__brand {
  text-align: center;
  font-size: 12px;
  width: 35%;
}
#tatuape {
  width: 44px;
}

#lacoste {
  width: 100px;
}

.content__info__logo hr {
  height: 60px;
  opacity: 0.3;
  border-color: var(--main-black-tertiary);
}

.content__info button {
  width: 150px;
  height: 44px;
  text-transform: uppercase;
  margin-top: 10px;
  color: var(--main-primary);
  background: var(--primary-degrade);
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.content__info button:hover {
  transform: scale(1.05);
}

/*Galerias*/
.row {
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  gap: 1rem;
  padding-left: 8rem;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.row__title {
  padding: 2rem 0 0 8rem;
  font-weight: bolder;
}

.row__accessories {
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  gap: 1rem;
  padding-left: 30rem;
  padding-bottom: 3rem;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#title__off {
  opacity: 0;
}

.accessories__title {
  position: absolute;
  display: flex;
  left: -3rem;
  width: 500px;
  height: 450px;
  background-color: var(--main-black);
  z-index: 2;
  align-items: center;
  justify-content: center;
}
.accessories__title h3 {
  font-size: 42px;
  padding-left: 6rem;
  width: 400px;
}

#slide__right,
#slide__left,
#slide__right__category,
#slide__left__category,
#slide__right__sellers,
#slide__left__sellers,
#slide__right__sunglasses,
#slide__left__sunglasses,
#slide__right__perfumes,
#slide__left__perfumes,
#slide__right__accessories,
#slide__left__accessories,
.button__recommends__right,
.button__recommends__left {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#slide__right:hover,
#slide__left:hover,
#slide__right__category:hover,
#slide__left__category:hover,
#slide__right__sellers:hover,
#slide__left__sellers:hover,
#slide__right__sunglasses:hover,
#slide__left__sunglasses:hover,
#slide__right__perfumes:hover,
#slide__left__perfumes:hover,
#slide__right__accessories:hover,
#slide__left__accessories:hover,
.button__recommends__right:hover,
.button__recommends__left:hover {
  transform: scale(1.1);
}

#slide__left__category {
  opacity: 0.5;
  float: right;
  right: 20rem;
  bottom: 24px;
}
#slide__right__category {
  opacity: 0.5;
  float: right;
  right: 15rem;
  bottom: 24px;
}

#slide__right__accessories {
  top: 14rem;
  left: 32rem;
  z-index: 1;
}

#slide__left__accessories {
  top: 14rem;
  right: 40px;
  float: right;
  z-index: 1;
}

#slide__left,
#slide__left__sellers,
#slide__left__sunglasses,
#slide__left__perfumes {
  top: 14rem;
  left: 40px;
  z-index: 1;
}

#slide__right,
#slide__right__sellers,
#slide__right__sunglasses,
#slide__right__perfumes {
  top: 14rem;
  right: 40px;
  float: right;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 260px;
  padding: 1rem;
  flex-shrink: 0;
}
.card__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 6px;
}
.card img {
  width: 100%;
  height: 100%;
}

#icon__favorite {
  position: absolute;
  top: 0;
  left: 200px;
  width: 24px;
  height: 24px;
  z-index: 1;
}
#icon__favorite:hover {
  transform: scale(1.2);
}

#icon__new__off,
#icon__off__sale__off {
  opacity: 0;
}

.content__overlay {
  position: relative;
  cursor: pointer;
}
.content__icon__promo {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80px;
  gap: 2px;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 35%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.content__overlay:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.overlay__button {
  position: absolute;
  width: 200px;
  left: 13px;
  bottom: 38px;
  text-align: center;
  border: none;
  opacity: 0;
  transition: opacity 0.35s ease;
  transition: 0.4s;
}
.overlay__button a {
  width: 200px;
  padding: 12px 14px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-primary);
  background: var(--primary-degrade);
  cursor: pointer;
  z-index: 1;
}
.overlay__button:hover {
  transform: scale(1.1);
}
.content__overlay:hover .overlay__button {
  opacity: 1;
}

.card__title {
  font-size: 14px;
  color: var(--main-black-tertiary);
}
.card__price {
  font-size: 12px;
}
.card__price #off {
  text-decoration: line-through;
}
.card__price__pix {
  color: var(--primary-green);
}
#small {
  font-size: 10px;
}
#pix {
  color: var(--main-black-secundary);
}

/* Banner calling */

.banner__calling {
  width: 100%;
  height: auto;
  display: flex;
}
#p__calling {
  text-align: center;
  font-size: 12px;
  width: 55%;
}
.banner__content__calling {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  background-color: var(--main-tertiary);
  background-image: url(assets/logotipe/logo-256-w.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 30%;
}

/* Recomendações  */

.recommends {
  width: 100%;
  height: 20rem;
  padding: 3rem 4rem;
}

.recommends__carousel {
  width: 100%;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.recommends__stars {
  display: flex;
  flex-direction: row;
}

.button__recommends__left {
  top: 5rem;
  right: 1rem;
  z-index: 1;
}
.button__recommends__right {
  top: 5rem;
  float: right;
  left: 2rem;
  z-index: 1;
}

.recommends__cards {
  width: 100%;
  display: flex;
  margin: 8px;
  gap: 8px;
  flex: 0 0 calc(30% - 16px);
  justify-content: center;
}

.recommends__cards::-webkit-scrollbar {
  display: none;
}

.recommends__card {
  width: 295px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  gap: 8px;
  transition: 0.2s;
}
.recommends__card p {
  font-size: 12px;
}
.recommends__title {
  font-weight: bold;
}

.recommends__card:hover {
  transform: scale(1.03);
}

/* Banner exclusividade */

.banner__calling__two {
  width: 100%;
  height: auto;
  display: flex;
}

.banner__content__calling__two {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--main-secundary);
}

/* Sobre */

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
}
.content__about img {
  width: 72px;
}

.content__about {
  width: 75%;
  text-align: center;
  font-size: 12px;
  color: var(--main-black-tertiary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 24px;
}

/* Newslatter */
.newslatter {
  display: flex;
  width: 100%;
  background-color: var(--main-black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.content__form {
  width: 350px;
}

.title__form {
  margin-bottom: 32px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--main-primary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 14px;
  margin-top: 10px;
  gap: 8px;
}
.terms span {
  font-size: 12px;
  color: var(--main-secundary);
}

.form input[type="text"],
.form input[type="email"] {
  border: none;
  background: transparent;
  text-align: center;
  color: var(--main-primary);
  border-bottom: 1px solid var(--main-primary);
  padding: 10px 0;
  width: 100%;
}

.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder {
  color: var(--main-secundary);
  text-align: center;
}

.button__terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.button__submit {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  width: 120px;
  height: 44px;
  cursor: pointer;
  transition: 0.3s;
}
.button__submit:hover {
  transform: scale(1.05);
}

/* Footer mobile */

.footer__mobile__panel {
  display: none;
  background-color: var(--main-secundary);
  padding: 24px 18px 24px 30px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid var(--gray-opacity);
}
.footer__mobile__panel img {
  position: relative;
  float: right;
  right: 3rem;
  width: 12px;
  height: 12px;
}

.panel {
  padding: 0 18px;
  text-align: center;
  background-color: var(--main-tertiary);
  display: none;
  overflow: hidden;
}
.panel p {
  padding: 24px 0;
  font-size: 12px;
  color: var(--main-black-tertiary);
  border-bottom: 1px solid var(--gray-opacity-higth);
}
.panel a {
  color: var(--main-black-secundary);
}

/* Footer */




/* Mobile  ––––––––––––––––––––––––––––––––––––––––––––––––––*/

@media (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  /* Ocultação de elementos desktop */
  .container__header,
  .info__header,
  #slide__right,
  #slide__left,
  #slide__right__category,
  #slide__left__category,
  #slide__right__sellers,
  #slide__left__sellers,
  #slide__right__sunglasses,
  #slide__left__sunglasses,
  #slide__right__perfumes,
  #slide__left__perfumes,
  #slide__right__accessories,
  #slide__left__accessories,
  .accessories__title,
  .button__recommends__right,
  .button__recommends__left {
    display: none;
  }

  /* Mostra elementos do mobile */
  #title__off {
    opacity: 1;
  }
  .info__header__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    background: var(--main-black);
    border-bottom: 1px solid var(--color-opacity);
  }
  .info__header__mobile p {
    color: var(--main-primary);
  }

  /* Mostra de elementos mobile */
  .menu__favorite__mobile,
  .content__logo__mobile,
  .menu__login__mobile,
  .menu__bag__mobile {
    display: flex;
    height: 36px;
    width: 36px;
  }
  .content__logo__mobile {
    margin: 0 4rem;
  }

  /* Navbar */
  .hamburguer {
    top: 12px;
  }
  .content__navbar {
    padding: 0 1rem;
  }
  .content__hamburger label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content__hamburger {
    display: flex;
    width: auto;
    flex-direction: column;
    align-self: flex-start;
    overflow: auto;
    color: var(--main-primary);
  }
  .content__element__hamburger {
    width: 100%;
    height: 100%;
    background-color: var(--main-black);
    position: fixed;
    left: -100%;
    top: 0;
    transition: left cubic-bezier(1, 0, 0, 1) 0.8s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15vh;
    z-index: 1;
  }
  .content__element__hamburger a {
    font-size: 18px;
  }
  .content__element__hamburger li {
    display: flex;
    padding-bottom: 18px;
    width: 350px;
    justify-content: center;
  }
  .content__element__hamburger a:hover {
    border-bottom: 2px solid transparent;
    color: var(--main-secundary);
  }
  .menu {
    display: flex;
    height: 20px;
    width: 30px;
    margin: 18px;
  }

  /* Barra de pesquisa */
  .search__mobile {
    display: flex;
    width: 100%;
    background: var(--main-secundary);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8.5rem 1rem 1rem 1rem;
  }
  .search__mobile p {
    text-transform: uppercase;
    font-weight: bold;
  }
  .search__mobile input {
    width: 250px;
    height: 42px;
    border: 1px solid var(--gray-opacity-higth);
    padding: 8px 1rem;
    border-radius: 5px;
    background-color: var(--main-secundary);
  }

  /* Slideshow container */
  .hero__info {
    padding: 10px;
    top: 45%;
    left: 35%;
    gap: 10px;
  }
  .hero__info h1 {
    font-size: 28px;
  }
  .nav__auto,
  .nav__manual {
    display: none;
  }
  .img__desktop {
    display: none;
  }

  .img__mobile {
    display: block;
  }

  .nav__auto,
  .nav__manual {
    margin-top: 60%;
  }

  /* Banner brands */
  .content__brand {
    padding: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    justify-content: initial;
  }
  .content__brand img {
    width: 110px;
  }

  .banner__content {
    padding: 3rem 0;
    flex-direction: column-reverse;
  }
  #p__brand {
    width: 65%;
  }

  /* Galeria de produtos */
  .row,
  .row__accessories {
    padding-left: 1rem;
  }

  .row__title {
    padding: 2rem 0 1rem 1rem;
  }
  .card {
    padding: 0;
  }
  .content__overlay {
    background-color: var(--main-secundary);
  }
  .content__icon__promo {
    top: 10px;
    left: 10px;
  }
  #icon__favorite {
    top: 5px;
    left: 225px;
  }
  .overlay__button {
    width: 230px;
    bottom: 55px;
  }
  .overlay__button a {
    padding: 15px 15px;
  }

  /* Banner calling */
  .banner__content__calling {
    flex-direction: column;
    background-image: none;
    margin: 2rem 0;
  }

  #p__calling {
    width: 95%;
  }

  /* Recomendações */
  .recommends {
    padding: 3rem 1rem;
  }
  .recommends__title,
  .recommends__p {
    text-align: center;
    font-size: 18px;
    padding-bottom: 8px;
  }
  .recommends__carousel {
    padding-left: 2rem;
  }

  /* Banner exclusividade */

  .banner__content__calling__two {
    flex-direction: column;
    background-image: none;
    margin: 2rem 0;
  }

  /* Sobre */
  .about {
    margin-top: 0;
  }

  .content__about {
    width: 100%;
  }

  /* Footer */
  .footer__mobile__panel {
    display: inline;
  }
}
