@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --main-primary: #fff;
  --main-secundary: #f1eeee;
  --main-black: #000;
  --main-black-secundary: #242424;
  --primary-green: #42ac6c;
  --primary-degrade: linear-gradient(
    222deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(38, 37, 37, 1) 97%
  );
  --color-opacity: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  font-family: "Inter", sans-serif;
}