@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --main-primary: #fff;
  --main-secundary: #f1eeee;
  --main-tertiary: #f5f5f5;
  
  --main-gray: #484848;
  --main-gray-secundary: #4a4a4a;
  --main-gray-tertiary: #a3a3a3;
  --new-gray:#ececec;
  
  --main-black: #000;
  --main-black-secundary: #242424;
  --main-black-tertiary: #444444;
  --main-black-four: #373737;
  --main-black-five: #d0d0d0;

  --primary-green: #42ac6c;
  --primary-degrade: linear-gradient(
    222deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(38, 37, 37, 1) 97%
  );
  --color-opacity: rgba(255, 255, 255, 0.1);
  --gray-opacity: rgba(165, 165, 165, 0.7);
  --gray-opacity-higth: rgba(165, 165, 165, 0.2);
  --black-opacity: rgba(0, 0, 0, 0.2);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
button,
span {
  font-family: "Inter", sans-serif;
}

/* Header */

.info__header {
  display: flex;
  width: 100%;
  height: 54px;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 12px;
  background-color: var(--main-black);
  color: var(--main-gray-tertiary);
  border-bottom: 1px solid var(--color-opacity);
}
.info__header hr {
  height: 16px;
  border-color: var(--main-gray);
}

.container__header {
  display: flex;
  height: 86px;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  background: var(--main-black);
  border-bottom: 1px solid var(--color-opacity);
}

.content__search,
.content__logo,
.content__menu {
  display: flex;
  justify-content: center;
  width: 328px;
}

.content__search input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--main-gray-secundary);
  padding: 8px 24px 8px 12px;
  font-size: 12px;
  color: var(--main-primary);
  background: transparent;
  background-image: url(assets/icons/procurar.png);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 18.5rem 8px;
}
input:focus-visible{
  outline: none;
}

.content__logo img {
  width: 48px;
}

.content__menu {
  justify-content: end;
  flex-wrap: wrap;
}

.content__menu img {
  width: 28px;
  cursor: pointer;
}

.content__menu a {
  padding: 8px;
  transition: 0.4s;
}

.menu__bag{
  text-decoration: none;
  color: var(--main-black);
}
.itens__bag{
  position: absolute;
  top: 5rem;
  width: 14px;
  height: 14px;
  display: flex;
  font-size: 8px;
  right: 70px;
  background-color: var(--main-primary);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.content__navbar {
  display: flex;
  height: 58px;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  background: var(--main-black);
  border-bottom: 1px solid var(--color-opacity);
}

.content__hamburger {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content__element__hamburger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__element__hamburger li {
  list-style: none;
}

.content__element__hamburger img {
  right: 8px;
  bottom: 2px;
  position: relative;
  cursor: pointer;
}

.content__element__hamburger a {
  text-decoration: none;
  color: var(--main-primary);
  padding: 18px 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.content__element__hamburger a:hover {
  border-bottom: 2px solid var(--main-secundary);
}

/* Botão menu hamburger */

.menu {
  position: relative;
  margin: 14px 0;
  cursor: pointer;
  display: none;
  z-index: 10;
}

.hamburguer {
  position: relative;
  display: block;
  background: #fff;
  width: 45px;
  height: 3px;
  top: 7px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: var(--main-primary);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

.content__hamburger input[type="checkbox"] {
  display: none;
}

/* Rotação dos elementos do span */

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ .content__element__hamburger {
  left: 0;
}

/* Slideshow container */

.hero {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
}

.hero__info h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.hero__info hr {
  height: 60px;
  border-color: var(--main-black);
}

.hero__info p {
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
}

.hero__info span {
  font-weight: bold;
}

.logo__hero {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.hero__info button {
  width: 180px;
  height: 57px;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 24px;
  color: var(--main-primary);
  background: var(--primary-degrade);
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.hero__info button:hover {
  transform: scale(1.05);
}

.hero__content {
  width: 400%;
  height: auto;
  display: flex;
}

.hero__content input,
.img__mobile {
  display: none;
}

.hero__box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.hero__box img {
  width: 100%;
}

.nav__manual,
.nav__auto {
  position: absolute;
  width: 100%;
  margin-top: 36%;
  display: flex;
  justify-content: center;
}

.nav__manual .manual__btn,
.nav__auto div {
  border: 0px solid var(--main-black-four);
  background-color: var(--main-black-four);
  padding: 1px 103px;
  cursor: pointer;
}

.nav__manual .manual__btn:not(:last-child),
.nav__auto div:not(:last-child) {
  margin-right: 10px;
}

.nav__manual .manual__btn:hover {
  border: 0px solid var(--main-gray-tertiary);
  background-color: var(--main-gray-tertiary);
}

#radio1:checked ~ .nav__auto .auto__btn1,
#radio2:checked ~ .nav__auto .auto__btn2,
#radio3:checked ~ .nav__auto .auto__btn3 {
  border: 0px solid var(--main-gray-tertiary);
  background-color: var(--main-gray-tertiary);
  z-index: 1;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

/*Galeria de categoria*/

.scroll__galery__accessories {
  background-color: var(--main-black);
}
#color__galery{
  background-color: #f1eeee;
}

.scroll__galery__accessories,
#white,
.white {
  color: var(--main-primary);
}

.scroll__galery,
.scroll__category {
  background-color: var(--main-primary);
  padding: 40px 0;
}

#slide__left__category:hover,
#slide__right__category:hover {
  opacity: 1;
}

#slide__left__category {
  opacity: 0.5;
  float: right;
  right: 20rem;
  bottom: 24px;
}

#slide__right__category {
  opacity: 0.5;
  float: right;
  right: 15rem;
  bottom: 24px;
}

.card__category {
  text-decoration: underline;
  font-size: 18px;
  color: var(--main-black-tertiary);
}

.content__button {
  position: absolute;
  right: 0;
  bottom: 20px;
  text-align: center;
  border: none;
  transition: opacity 0.35s ease;
  transition: 0.4s;
}

.content__button a {
  padding: 21px 42px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-primary);
  background: var(--primary-degrade);
  cursor: pointer;
}

/* Banner brand - marcas da loja */

.banner__brand {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.banner__content {
  display: flex;
  width: 100%;
  padding: 60px 10rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--main-tertiary);
}

.banner__image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner__image img {
  width: 100%;
}

.content__brand {
  display: flex;
  padding: 4rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  opacity: 0.5;
}

.content__info {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px 24px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.content__info__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.content__info h3 {
  font-size: 44px;
  font-weight: 500;
}

#p__brand {
  text-align: center;
  font-size: 16px;
  width: 38%;
  font-weight: 300;
}

#tatuape {
  width: 64px;
}

#lacoste {
  width: 140px;
}

.content__info__logo hr {
  height: 80px;
  opacity: 0.3;
  border-color: var(--main-black-tertiary);
}

.content__info button {
  width: 180px;
  height: 57px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
  color: var(--main-primary);
  background: var(--primary-degrade);
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.content__info button:hover {
  transform: scale(1.05);
}

/*Galerias*/

.row {
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  gap: 16px;
  padding-left: 98px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#row__category{
  gap: 60px;
}

.row__title {
  padding: 2rem 0 0 6rem;
  font-size: 25px;
  font-weight: bolder;
}

.row__accessories {
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  gap: 15px;
  padding-left: 700px;
  padding-bottom: 3rem;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#title__off {
  opacity: 0;
}

.accessories__title {
  position: absolute;
  display: flex;
  left: -3rem;
  width: 500px;
  height: 450px;
  background-color: var(--main-black);
  z-index: 2;
  align-items: center;
  justify-content: center;
  margin-left: 170px;
}

.accessories__title h3 {
  font-size: 56px;
  /* padding-left: 6rem; */
  width: 400px;
}

#slide__right,
#slide__left,
#slide__right__category,
#slide__left__category,
#slide__right__sellers,
#slide__left__sellers,
#slide__right__sunglasses,
#slide__left__sunglasses,
#slide__right__perfumes,
#slide__left__perfumes,
#slide__right__accessories,
#slide__left__accessories,
.button__recommends__right,
.button__recommends__left {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#slide__right:hover,
#slide__left:hover,
#slide__right__category:hover,
#slide__left__category:hover,
#slide__right__sellers:hover,
#slide__left__sellers:hover,
#slide__right__sunglasses:hover,
#slide__left__sunglasses:hover,
#slide__right__perfumes:hover,
#slide__left__perfumes:hover,
#slide__right__accessories:hover,
#slide__left__accessories:hover,
.button__recommends__right:hover,
.button__recommends__left:hover {
  transform: scale(1.1);
}

#slide__left__category {
  opacity: 0.5;
  float: right;
  right: 290px;
  bottom: 24px;
}

#slide__right__category {
  opacity: 0.5;
  float: right;
  right: 180px;
  bottom: 24px;
}

#slide__right__accessories {
  top: 295px;
  left: 720px;
  z-index: 1;
}

#slide__left__accessories {
  top: 295px;
  right: 40px;
  float: right;
  z-index: 1;
}

#slide__left,
#slide__left__sellers,
#slide__left__sunglasses,
#slide__left__perfumes {
  top: 300px;
  left: 75px;
  z-index: 1;
}

#slide__right,
#slide__right__sellers,
#slide__right__sunglasses,
#slide__right__perfumes {
  top: 300px;
  right: 75px;
  float: right;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 400px; */
  /* padding: 1rem; */
  flex-shrink: 0;
}

.card__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 6px;
}

.card img {
  position: absolute;
  background-color: var(--main-primary);
  width: 100%;
  height: 100%;
}
.content__icon__promo img{ 
  position: relative;
}

#icon__favorite {
  position: relative;
  background-color: transparent;
  float: right;
  right: 24px;
  top: 24px;
  width: 34px;
  height: 28px;
  z-index: 1;
  cursor: pointer;
}

#icon__favorite:hover {
  transform: scale(1.2);
}

#icon__new__off,
#icon__off__sale__off {
  opacity: 0;
}

.content__overlay {
  position: relative;
  width: 410px;
  height: 537px;
  /* cursor: pointer; */
}
#content__category__overlay{
  height: 631px;
  width: 472px;
}

.content__icon__promo {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 106px;
  gap: 2px;
  top: 18px;
  left: 18px;
}

.overlay {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 35%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.content__overlay:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}
.overlay__bullet{
  background-color: var(--main-black);
  padding: 7px 7.5px;
  border-radius: 50%;
  position: absolute;
  bottom: 56px;
  color: var(--main-primary);
  font-size: 12px;
  cursor: pointer;
}
#bullet__2{
left: 60px;
}
#bullet__3{
left: 111px;
  
}
#bullet__4{
left: 162px;
  
}

.overlay__button {
  position: absolute;
  width: 200px;
  left: 25%;
  bottom: 63px;
  text-align: center;
  border: none;
  opacity: 0;
  transition: opacity 0.35s ease;
  transition: 0.4s;
}

.overlay__button a {
  width: 200px;
  padding: 18.5px 42px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-primary);
  background: var(--primary-degrade);
  cursor: pointer;
  z-index: 1;
}

.content__overlay:hover .overlay__button {
  opacity: 1;
}



.card__title {
  font-size: 15px;
  color: var(--main-black-tertiary);
  letter-spacing: 0.9px;
  font-weight: 300;
}

.card__price {
  font-size: 15px;
  font-weight: 600;
}

.card__price #off {
  text-decoration: line-through;
  padding-right: 8px;
  font-weight: 400;
}

.card__price__pix {
  color: var(--primary-green);
  font-size: 18px;
  padding-bottom: 12px;
}

#small {
  font-size: 12px;
  font-weight: 400;
}

#pix {
  color: var(--main-black-secundary);
}

/* Banner calling - chamada 1 Sneakers Shop - mobile*/

.banner__calling {
  width: 100%;
  height: auto;
  display: flex;
}
#info__calling h3{
  font-size: 57px;
}

/* #info__calling #p__calling{
  width: 48%;
} */

#since{ 
  letter-spacing: 0.2em;
}

#p__calling {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  width: 47%;
}

.banner__content__calling {
  display: flex;
  width: 100%;
  margin-bottom: 56px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  background-color: var(--new-gray);
  background-image: url(assets/logotipe/logo-256-w.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 30%;
}

/* Cards de recomendações */

.recommends {
  width: 100%;
  /* height: 20rem; */
  padding: 90px 120px 199px;
}

.recommends__carousel {
  width: 100%;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.recommends__stars {
  display: flex;
  flex-direction: row;
}

.button__recommends__left {
  top: 9rem;
  right: 64px;
  z-index: 1;
}

.button__recommends__right {
  top: 9rem;
  float: right;
  left: 64px;
  z-index: 1;
}

.recommends__cards {
  width: 100%;
  display: flex;
  margin: 8px;
  gap: 8px;
  flex: 0 0 calc(27% - 16px);
  justify-content: flex-start;
}

.recommends__cards::-webkit-scrollbar {
  display: none;
}

.recommends__card {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* padding: 1rem; */
  gap: 24px;
  transition: 0.2s;
}

.recommends__card p {
  font-size: 14px;
}
.recommends__card #title{
  font-weight: 600; 
}
.recommends__title {
  font-size: 25px;
  font-weight: bold;
}
.recommends__p{
  font-size: 25px;
  font-weight: 200;
}

.recommends__card:hover {
  transform: scale(1.03);
}

.nav__carousel{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding-top: 100px;
  gap: 8px;
  flex-wrap: nowrap;
  flex-direction: row;
}

#dot, #dot__select{
  width: 16px;
  height: 9px;
  background-color: #bcc0bf;
}
#dot__select{
  background-color: #404140;
}


/* Banner calling two - chamada 2 MC Daniel */

.banner__calling__two {
  width: 100%;
  height: auto;
  display: flex;
}

.banner__content__calling__two {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--main-secundary);
}

.banner__content__calling__two #small{
  letter-spacing: 0.2em;
  font-weight: 200;
}

/* Sobre a marca*/

.about {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
}

.content__about img {
  height: 86px;
  width: 102px;
}

.content__about {
  width: 55%;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  color: var(--main-black-tertiary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  gap: 30px;
}

/* Newslatter */

.newslatter {
  display: flex;
  width: 100%;
  background-color: var(--main-black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 84px;
}

.content__form {
  width: 630px;
}

.title__form {
  margin-bottom: 32px;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  color: var(--main-primary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 14px;
  margin-top: 10px;
  gap: 8px;
}

.terms span {
  font-size: 16px;
  font-weight: 200;
  color: var(--main-secundary);
}

.form input[type="text"],
.form input[type="email"] {
  border: none;
  background: transparent;
  text-align: center;
  color: var(--main-primary);
  border-bottom: 1px solid #777;
  padding: 10px 0;
  font-size: 16px;
  width: 100%;
}

.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder {
  color: var(--main-secundary);
  text-align: center;
}

.button__terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.button__submit {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  width: 155px;
  height: 56px;
  cursor: pointer;
  transition: 0.3s;
}

.button__submit:hover {
  transform: scale(1.05);
}

/* Seção de Footer DESKTOP */

.footer__desktop {
  display: flex;
  background-color: var(--main-tertiary);
  font-size: 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__hub {
  width: 60px;
  display: flex;
  flex-wrap: wrap;
}

.footer__hub a {
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 0 10px 10px;
}

.footer__container {
  padding: 80px 8% 145px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: flex-start;
}

.footer__content h5 {
  margin-bottom: 16px;
  color: var(--main-black-tertiary);
  font-size: 12px;
}

.footer__content h6 {
  margin: 2rem 0;
  color: var(--main-black-tertiary);
  font-size: 16px;
  text-transform: uppercase;
}

.footer__content a {
  text-decoration: none;
  color: var(--main-black-tertiary);
}

.footer__content a:hover {
  text-decoration: underline;
}

.footer__content li {
  color: var(--main-black-tertiary);
  list-style: none;
  padding-bottom: 13px;
}

.logo__desk {
  width: 130px;
}

.contet__logos__desk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  filter: grayscale(50);
}

.contet__cards__desk {
  display: grid;
  grid-template-columns: repeat(5, 35px);
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  filter: grayscale(50);
}

.contet__redes__desk {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  gap: 10px;
}

.li__desk {
  display: flex;
  align-items: center;
  gap: 8px;
}

.li__desk a {
  text-decoration: underline;
  font-weight: bold;
}

.footer__copy {
  display: flex;
  width: 100%;
  padding-top: 56px;
  justify-content: center;
}

.footer__copy p {
  color: var(--main-black-tertiary);
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 2;
  text-transform: uppercase;
}

.footer__copy a {
  font-weight: bold;
  color: var(--main-black-secundary);
  text-decoration: none;
}

.footer__copy a:hover {
  text-decoration: underline;
}

.copy__logo {
  position: absolute;
  right: 17%
}

.copy__logo img {
  filter: brightness(0.7);
}

/* Seção de Footer MOBILE (oculto)*/

.footer__mobile {
  display: none;
}

.footer__mobile__panel {
  background-color: var(--main-secundary);
  padding: 15px 18px 15px 30px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid var(--main-black-five);
}

.footer__mobile__panel img {
  position: relative;
  top: 5px;
  float: right;
  right: 3rem;
  width: 9px;
  height: 7px;
}

.panel {
  padding: 0 18px;
  text-align: center;
  background-color: var(--main-tertiary);
  display: none;
  overflow: hidden;
}

.panel p {
  padding: 24px 0;
  font-size: 12px;
  color: var(--main-black-tertiary);
  border-bottom: 1px solid var(--gray-opacity-higth);
}

.panel a {
  color: var(--main-black-secundary);
}

.content__footer {
  display: flex;
  height: 210px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}

.content__footer p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 16px;
  padding-bottom: 38px;
}

/* .content__footer img {
  width: 34px;
} */

.hr__footer{
  border-bottom:1px solid var(--color-opacity);
}

.contet__cards {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.contet__logos,
.contet__redes {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.contet__logos__mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

/* .logo__redes img{
  width: 17px;
  height: 17px;
} */

.logo__mobile__clear {
  width: 110px;
  height: 24px;
}

.contet__redes {
  gap: 10px;
}

.copy p {
  font-size: 9px;
  padding-top: 26px;
}
.copy span {
  font-weight: bold;
}

.convertr__logo {
  display: flex;
  align-items: center;
}

/* Oculta de elementos mobile no desktop */

.menu__favorite__mobile,
.content__logo__mobile,
.menu__login__mobile,
.menu__bag__mobile,
.info__header__mobile,
.search__mobile {
  display: none;
}

/* Responsividade ------------------------------------------------------ */
@media (max-width: 1420px) {
  .footer__container{
    padding: 80px 1% 145px;
  }
  .content__about{
    width: 90%;
  }
}
@media (max-width: 1220px) {
  .footer__container {
    gap: 1rem;
  }
}

@media (max-width: 1080px) {
  .footer__desktop {
    display: none;
  }
  .footer__mobile {
    display: inline;
  }
  .content__brand {
    padding: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    justify-content: initial;
  }

   /* Banner calling two - chamada 2 MC Daniel - mobile*/

   .banner__content__calling__two {
    flex-direction: column;
    background-image: none;
    margin: 2rem 0;
    background-color: transparent;
  }

}

/* Mobile --------------------------------------------------------------*/

@media (max-width: 768px) {

  /* Fixa o menu no topo */
  header {
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  /* Navbar */

  .hamburguer {
    top: 11px;
  }

  .content__navbar {
    padding: 0 34px;
    gap: 14px;
    height: 90px;
  }

  .content__hamburger label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content__hamburger {
    display: flex;
    width: auto;
    flex-direction: column;
    /* align-self: flex-start; */
    overflow: auto;
    color: var(--main-primary);
  }

  .content__element__hamburger {
    width: 100%;
    height: 100%;
    background-color: var(--main-black);
    position: fixed;
    left: -100%;
    top: 0;
    transition: left cubic-bezier(1, 0, 0, 1) 0.8s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15vh;
    z-index: 1;
  }

  .content__element__hamburger a {
    font-size: 18px;
  }

  .content__element__hamburger li {
    display: flex;
    padding-bottom: 18px;
    width: 350px;
    justify-content: center;
  }
  .content__element__hamburger img{
    display: none;
  }

  .content__element__hamburger a:hover {
    border-bottom: 2px solid transparent;
    color: var(--main-secundary);
  }

  .menu {
    display: flex;
    height: 25px;
    width: 45px;
    overflow:hidden;
  }

  /* Barra de pesquisa versão mobile */

  .search__mobile {
    display: flex;
    width: 100%;
    background: var(--main-secundary);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 152px 16px 8px 16px;
  }

  .search__mobile p {
    text-transform: uppercase;
    font-weight: bold;
  }

  .search__mobile input {
    width: 250px;
    height: 42px;
    border: none;
    text-align: center;
    font-size: 15px;
    padding: 8px 1rem;
    border-radius: 5px;
    background-color: var(--main-secundary);
  }
  .search__icon{
    width: 19px;
    height: 19px;
  }

  /* Slideshow container hero */

  .hero__info {
    padding: 10px;
    top: 45%;
    left: 39%;
    gap: 0;
  }
  .logo__hero{
    display: flex;
    padding: 15px;
    gap: 1rem;
    justify-content: center;
  }
  .logo__hero img {
    width: 25%;
  }
  .hero__info p{
    font-size: 18px;
    width: 94%;
  }
  .hero__info hr{
    height: 45px;
  }
  .hero__info button{
    width: 169px;
    height: 53px;
  }
  .hero__info h1 {
    font-size: 42px;
  }

  .nav__auto,
  .nav__manual {
    display: none;
  }

  .img__desktop {
    display: none;
  }

  .img__mobile {
    display: block;
  }

  .nav__auto,
  .nav__manual {
    margin-top: 60%;
  }

  /* Banner brand - marcas da loja */
  .content__button a{
    padding: 17px 26px;
  }
  .content__button{
    bottom: 17px;
  }
  #content__category__overlay{
    width: 325px;
    height: 460px;
  }
  #row__category{
    gap: 18px;
  }

  .content__brand img {
    width: 130px;
  }

  .banner__content {
    padding: 3rem 0;
    flex-direction: column-reverse;
    background-color: transparent;
  }
  #p__brand {
    width: 65%;
    font-size: 14px;
  }

  /* Galeria de produtos */

  .row,
  .row__accessories {
    padding-left: 1rem;
  }

  .row__title {
    padding: 24px 5px 24px 16px;
    font-size: 20px;
  }

  .scroll__galery, .scroll__category{
    padding: 20px 0;
  }
  .scroll__galery__accessories{
    padding: 10px 0;
  }
  #color__galery{
    background-color: transparent;
  }

  .card {
    padding: 0;
  }
  .card img{
    background-color: #e7e7e7 ;
  }

  .content__overlay {
    background-color: var(--main-secundary);
    width: 325px;
    height: 360px;
  }
  
  #mobile__version__overlay .overlay__button{
    bottom: 79px;
  }
  #mobile__version__overlay img{
    background-color: transparent;
  }
  #mobile__version__overlay{
    background-color: transparent;
    width: 350px;
    height: 460px;
  }

  .content__icon__promo {
    top: 20px;
    left: 20px;
  }

  #icon__favorite {
    top: 20px;
    left: -20px;
  }
  .overlay__bullet{
    display: none;
  }

  .overlay__button {
    width: 162px;
    bottom: 50px;
  }

  .overlay__button a {
    padding: 15px 15px;
  }

  /* Banner calling - chamada 1 Sneakers Shop */

  .banner__content__calling {
    flex-direction: column;
    background-image: none;
    background-color: transparent;
    margin: 2rem 0;
  }
  .content__info{
    padding: 24px;
  }

  #p__calling {
    width: 100%;
    font-size: 15px;
  }

  /* Cards de recomendações mobile */

  .recommends {
    padding: 70px 28px 18px;
  }
  .recommends__title{
    font-size: 25px;
    text-align: center;
    padding-bottom: 8px;

  }
  .recommends__p { 
    padding-left: 28px;
    font-size: 18px;
  }
  .recommends__carousel {
    width: 100%;
    padding: 48px 0px 39px 15px;
  }
  .nav__carousel{
    display: none;
  }

  /* Banner brand - marcas da loja */
  .content__info h3{
    font-size: 36px !important;
  }
  .content__info button{
    width: 172px;
    height: 53px;
  }
 
  /* Sobre a marca - mobile */
  .about {
    margin-top: 0;
  }
 

  .content__about {
    width: 100%;
    padding: 0 36px 16px;
    font-size: 12px;
    gap: 26px;
  }

  /* Newslatter */
  .title__form{
    font-size: 18px;
  }
  .form input[type="text"], .form input[type="email"]{
    font-size: 14px;
  }
  .terms span{
    font-size: 12px;
  }
  .newslatter{
    padding: 66px 20px;
  }
  .button__submit{
    width: 112px;
    height: 41px;
  }
  .content__form{
    width: 100%;
  }

  /* Exibição do Footer Mobile */
  .footer__mobile {
    display: inline;
  }

  /* ------------------------------------------------------------------ */

  /* Mostra elementos do mobile ocultos no desktop */

  #title__off {
    opacity: 1;
  }
  .info__header__mobile::after,
  .info__header__mobile::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
  }
  .info__header__mobile::before{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgaWQ9IlNWR1JlcG9fYmdDYXJyaWVyIiBzdHJva2Utd2lkdGg9IjAiPjwvZz48ZyBpZD0iU1ZHUmVwb190cmFjZXJDYXJyaWVyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvZz48ZyBpZD0iU1ZHUmVwb19pY29uQ2FycmllciI+IDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTUuNzA3MSA0LjI5Mjg5QzE2LjA5NzYgNC42ODM0MiAxNi4wOTc2IDUuMzE2NTggMTUuNzA3MSA1LjcwNzExTDkuNDE0MjEgMTJMMTUuNzA3MSAxOC4yOTI5QzE2LjA5NzYgMTguNjgzNCAxNi4wOTc2IDE5LjMxNjYgMTUuNzA3MSAxOS43MDcxQzE1LjMxNjYgMjAuMDk3NiAxNC42ODM0IDIwLjA5NzYgMTQuMjkyOSAxOS43MDcxTDcuMjkyODkgMTIuNzA3MUM3LjEwNTM2IDEyLjUxOTYgNyAxMi4yNjUyIDcgMTJDNyAxMS43MzQ4IDcuMTA1MzYgMTEuNDgwNCA3LjI5Mjg5IDExLjI5MjlMMTQuMjkyOSA0LjI5Mjg5QzE0LjY4MzQgMy45MDIzNyAxNS4zMTY2IDMuOTAyMzcgMTUuNzA3MSA0LjI5Mjg5WiIgZmlsbD0iI2ZmZiI+PC9wYXRoPiA8L2c+PC9zdmc+");
    left: 35px;
  }
  .info__header__mobile::after{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdHJhbnNmb3JtPSJyb3RhdGUoMTgwKSI+PGcgaWQ9IlNWR1JlcG9fYmdDYXJyaWVyIiBzdHJva2Utd2lkdGg9IjAiPjwvZz48ZyBpZD0iU1ZHUmVwb190cmFjZXJDYXJyaWVyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvZz48ZyBpZD0iU1ZHUmVwb19pY29uQ2FycmllciI+IDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTUuNzA3MSA0LjI5Mjg5QzE2LjA5NzYgNC42ODM0MiAxNi4wOTc2IDUuMzE2NTggMTUuNzA3MSA1LjcwNzExTDkuNDE0MjEgMTJMMTUuNzA3MSAxOC4yOTI5QzE2LjA5NzYgMTguNjgzNCAxNi4wOTc2IDE5LjMxNjYgMTUuNzA3MSAxOS43MDcxQzE1LjMxNjYgMjAuMDk3NiAxNC42ODM0IDIwLjA5NzYgMTQuMjkyOSAxOS43MDcxTDcuMjkyODkgMTIuNzA3MUM3LjEwNTM2IDEyLjUxOTYgNyAxMi4yNjUyIDcgMTJDNyAxMS43MzQ4IDcuMTA1MzYgMTEuNDgwNCA3LjI5Mjg5IDExLjI5MjlMMTQuMjkyOSA0LjI5Mjg5QzE0LjY4MzQgMy45MDIzNyAxNS4zMTY2IDMuOTAyMzcgMTUuNzA3MSA0LjI5Mjg5WiIgZmlsbD0iI2ZmZiI+PC9wYXRoPiA8L2c+PC9zdmc+");
    right: 35px;
  }


  .info__header__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    background: var(--main-black);
    border-bottom: 1px solid var(--color-opacity);
  }

  .info__header__mobile p {
    font-size: 13px;
    color: var(--main-tertiary);
  }

  .content__logo__mobile{
    display: flex;
    height: 46px;
    justify-content: center;

  }
  
  .menu__favorite__mobile,
  .menu__login__mobile,
  .menu__bag__mobile {
    display: flex;
    height: 40px;

  }

 .itens__bag{
  width: 20px;
  height: 20px;
  font-size: 10px;
  right: 30px;
 } 

  .content__logo__mobile {
    flex-grow: 1;
  }

  /* Ocultação de elementos desktop */

  .container__header,
  .info__header,
  #slide__right,
  #slide__left,
  #slide__right__category,
  #slide__left__category,
  #slide__right__sellers,
  #slide__left__sellers,
  #slide__right__sunglasses,
  #slide__left__sunglasses,
  #slide__right__perfumes,
  #slide__left__perfumes,
  #slide__right__accessories,
  #slide__left__accessories,
  .accessories__title,
  .button__recommends__right,
  .button__recommends__left,
  .footer__desktop {
    display: none;
  }
}
